@{
    Page.Title = "Consuming Web Services and Feeds";
}

<ul>
    <li><a href="~/REST-JSON/">REST - JSON</a></li> 
    <li><a href="~/REST-ATOM-LINQ/">REST - ATOM with LINQ to XML</a></li> 
    <li><a href="~/REST-ATOM-SyndicationFeed/">REST - ATOM with SyndicationFeed</a></li>
    <li><a href="~/Soap-Simple/">Soap - Simple Values</a></li> 
    <li><a href="~/Soap-Complex/">Soap - Complex Values</a></li>
    <li><a href="~/Soap-XML/">Soap - XML</a></li> 
</ul>



