<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TempConvertSoap" />
        <binding name="WeatherSoap" />
        <binding name="StockQuoteSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="TempConvertSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="WeatherSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="StockQuoteSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.w3schools.com/webservices/tempconvert.asmx"
        binding="basicHttpBinding" bindingConfiguration="TempConvertSoap"
        contract="TempConvertService.TempConvertSoap" name="TempConvertSoap" />
      <endpoint address="http://www.w3schools.com/webservices/tempconvert.asmx"
        binding="customBinding" bindingConfiguration="TempConvertSoap12"
        contract="TempConvertService.TempConvertSoap" name="TempConvertSoap12" />
      <endpoint address="http://wsf.cdyne.com/weatherws/weather.asmx"
        binding="basicHttpBinding" bindingConfiguration="WeatherSoap"
        contract="WeatherService.WeatherSoap" name="WeatherSoap" />
      <endpoint address="http://wsf.cdyne.com/weatherws/weather.asmx"
        binding="customBinding" bindingConfiguration="WeatherSoap12"
        contract="WeatherService.WeatherSoap" name="WeatherSoap12" />
      <endpoint address="http://www.webservicex.net/stockquote.asmx"
        binding="basicHttpBinding" bindingConfiguration="StockQuoteSoap"
        contract="StockQuoteService.StockQuoteSoap" name="StockQuoteSoap" />
      <endpoint address="http://www.webservicex.net/stockquote.asmx"
        binding="customBinding" bindingConfiguration="StockQuoteSoap12"
        contract="StockQuoteService.StockQuoteSoap" name="StockQuoteSoap12" />
    </client>
  </system.serviceModel>
</configuration>